<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <div class="box-container p-4">
        <h4 class="text-center">Reset Password</h4>
        <form method="post">
            {% csrf_token %}
            <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Enter your email" required>
            <button type="submit" class="btn custom-btn btn-block">Reset</button>
        </form>
        <p><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</body>

</html>
