<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

  <div class="box-container">
    <h2 class ="text-center">Register</h2>
    <h4>Create your Account</h4>

    {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Please correct the following errors:</strong>
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form method="POST" class="mt-4">
      {% csrf_token %}  
      {{ form.as_p }}
      <div class="text-right mt-3">
        <button type="submit" class="btn custom-btn">Register</button>
      </div>
    </form>
    <br>
    <div class="text-center mt-3">
      <small>Already registered but haven't received a verification email? <a href="{% url 'resend_verification' %}">Resend Verification here</a></small> <br/>
      <small>Already have an account? <a href="{% url 'login' %}" class="mt-auto">Log in</a></small> 
      
      
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>