<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script>
        function setSearchMode(mode) {
            const standardSearchForm = document.getElementById('standardSearchForm');
            const fridgeSearchForm = document.getElementById('fridgeSearchForm');
            const normalSearchButton = document.getElementById('normalSearchButton');
            const fridgeSearchButton = document.getElementById('fridgeSearchButton');

            if (mode === 'standard') {
                standardSearchForm.classList.remove('d-none');
                fridgeSearchForm.classList.add('d-none');
                normalSearchButton.classList.add('active'); 
                fridgeSearchButton.classList.remove('active');
            } else {
                standardSearchForm.classList.add('d-none');
                fridgeSearchForm.classList.remove('d-none');
                normalSearchButton.classList.remove('active'); 
                fridgeSearchButton.classList.add('active'); 
            }

            localStorage.setItem('searchMode', mode);
        }

        window.onload = function() {
            const mode = localStorage.getItem('searchMode') || 'standard';  
            setSearchMode(mode);
            
            if (mode === 'standard') {
                document.getElementById('normalSearchButton').classList.add('active');
            } else {
                document.getElementById('fridgeSearchButton').classList.add('active');
            }
        };
    </script>
</head>
<body>   
    <nav class="navbar navbar-expand-lg">
        <div class="text-center mb-4"></div>
        <a href="{% url 'home' %}" class="d-flex align-items-center text-decoration-none">
            <img src="/static/css/logo.png" alt="Logo" class="logo" />
            <span class="nav-link ml-2">Share Mo Lang</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white; border: none;">
            <span class="navbar-toggler-icon" style="background-color: black; width: 25px; height: 3px; display: block; margin: 5px auto;"></span>
            <span class="navbar-toggler-icon" style="background-color: black; width: 25px; height: 3px; display: block; margin: 5px auto;"></span>
            <span class="navbar-toggler-icon" style="background-color: black; width: 25px; height: 3px; display: block; margin: 5px auto;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favorites' %}">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipe-create' %}">Create New Recipe</a>
                </li>
    
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-list' %}">User List</a>
                </li>
                {% endif %}
    
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container mt-5">
        

        <div class="mt-4">
            <button id="normalSearchButton" class="btn btn-info" onclick="setSearchMode('standard')">Normal Search</button>
            <button id="fridgeSearchButton" class="btn btn-info" onclick="setSearchMode('fridge')">Ingredient-Based Search</button>
        </div>

        <!-- Standard Recipe Search Form -->
        <form method="GET" action="{% url 'home' %}" id="standardSearchForm" class="mt-4">
            <input type="hidden" name="mode" value="standard">
            <input type="hidden" name="category" value="{{ request.GET.category }}">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search recipes..." aria-label="Search recipes">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <!-- Fridge Ingredients Form -->
        <form method="GET" action="{% url 'home' %}" id="fridgeSearchForm" class="mt-4 d-none">
            <input type="hidden" name="mode" value="fridge">
            <input type="hidden" name="category" value="{{ request.GET.category }}">
            <div class="input-group">
                <input type="text" name="fridge" class="form-control" placeholder="What's in your fridge? (comma-separated)" aria-label="Fridge ingredients">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Find Recipes</button>
                </div>
            </div>
        </form>

        
        <div class="text-center mt-4">
            {% for category in categories %}
                <a href="{% url 'home' %}?category={{ category.name }}" class="btn {% if request.GET.category == category.name %}btn-primary{% else %}btn-secondary{% endif %}">
                    {{ category.name }}
                </a>
            {% endfor %} 
        </div>
        

        <div class="container mt-4">
            <div class="d-flex flex-wrap justify-content-center">
                <a href="{% url 'home' %}?order=trending&category={{ request.GET.category }}" class="btn {% if request.GET.order == 'trending' %}btn-primary{% else %}btn-info{% endif %} m-1" style="width: 120px;">Trending</a>
                <a href="{% url 'home' %}?order=highest&category={{ request.GET.category }}" class="btn {% if request.GET.order == 'highest' %}btn-primary{% else %}btn-info{% endif %} m-1" style="width: 120px;">Most Rated</a>
                <a href="{% url 'home' %}?order=lowest&category={{ request.GET.category }}" class="btn {% if request.GET.order == 'lowest' %}btn-primary{% else %}btn-info{% endif %} m-1" style="width: 120px;">Least Rated</a>
                <a href="{% url 'home' %}?order=most_views&category={{ request.GET.category }}" class="btn {% if request.GET.order == 'most_views' %}btn-primary{% else %}btn-info{% endif %} m-1" style="width: 120px;">Most Visited</a>
                <a href="{% url 'home' %}?order=newest&category={{ request.GET.category }}" class="btn {% if request.GET.order == 'newest' %}btn-primary{% else %}btn-info{% endif %} m-1" style="width: 120px;">Newest</a>
                <a href="{% url 'home' %}?order=oldest&category={{ request.GET.category }}" class="btn {% if request.GET.order == 'oldest' %}btn-primary{% else %}btn-info{% endif %} m-1" style="width: 120px;">Oldest</a>
                <a href="{% url 'home' %}?order=random&category={{ request.GET.category }}" class="btn btn-danger m-1" style="width: 120px;">Random</a>
                <a href="{% url 'home' %}" class="btn btn-danger m-1" style="width: 120px;">Remove</a>
            </div>
        </div>
        

        <h3 class="mt-4">Your Recipes</h3>
        <div class="row mt-3">
            {% for recipe in recipes %}
                <div class="col-md-4 mb-4"> <!-- Added mb-4 for spacing between rows -->
                    <a href="{% url 'recipe-detail' recipe.id %}" class="text-decoration-none text-reset"> <!-- Full card as a link -->
                        <div class="card recipe-card h-100"> <!-- Set h-100 for full height -->
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title">{{ recipe.name }}</h5>  <!-- Recipe Name -->
                                
                                {% if recipe.image %}
                                    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="img-fluid recipe-image card-img-top">
                                {% endif %}
                                
                                {% if recipe.user %}
                                    <div class="d-flex align-items-center mt-3"> <!-- Name of Poster and Profile Image -->
                                        <img src="{{ recipe.user.profile.image.url }}" alt="{{ recipe.user.username }}" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px;">
                                        <strong>{{ recipe.user.username }}</strong>
                                    </div>
                                {% else %}
                                    <p><strong>Created By:</strong> Unknown</p>
                                {% endif %}
                                
                                <p class="mt-2 mb-3"><strong>Number of Ingredients:</strong> {{ recipe.ingredients }}</p>  <!-- Number of Ingredients -->

                                <p><strong>Cooking Time:</strong> {{ recipe.minutes }} minutes</p>  <!-- Cooking Time -->



                                <h5 class="card-title d-flex align-items-center">Ratings: 
                                    {% if recipe.average_rating %}
                                        <div class="rating-star d-flex align-items-center">
                                            <span>
                                                {% for i in "12345" %}
                                                    {% if forloop.counter <= recipe.integer_part %}
                                                        <i class="fas fa-star text-warning" aria-hidden="true"></i>
                                                    {% elif forloop.counter == recipe.integer_part|add:1 and recipe.fractional_part >= 0.5 %}
                                                        <i class="fas fa-star-half-alt text-warning" aria-hidden="true"></i>
                                                    {% else %}
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                            <span class="ml-2">({{ recipe.average_rating|floatformat:1 }})</span>
                                        </div>
                                    {% else %}
                                        <small>No ratings yet.</small>
                                    {% endif %}
                                </h5>
                                
                                
                                
                            
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>No recipes found.</p>
                </div>
            {% endfor %}
        </div>
        
        
        
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>